name: pull_request_main

on:
  pull_request:
    branches:
      - main
      - alpha
      - beta
      - gamma

jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Version check on Main
        if: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'main' }}
        run: |
          current_version=$(grep -oP 'mod_version=\K[^ ]+' gradle.properties)
          main_version=$(git show origin/main:gradle.properties | grep -oP 'mod_version=\K[^ ]+')
          
          if [ "$current_version" == "$main_version" ]; then
            echo "::error::PR version is the same as the main branch version, $current_version == $main_version"
            exit 1
          else
            echo "Version check passed."
          fi

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Move build to output
        run: ./.github/scripts/move_build.sh
        shell: bash

      - name: Upload build reports
        uses: actions/upload-artifact@v3
        with:
          name: mod
          path: output

